div(class="row")
  div(class="twelve columns")
    div(class="card")
      div(class="card-header")
        p File \#{{file.key}}

      div(class="card-content")
        dl
          dt(ng-show="file.description") Description 
          dd(ng-show="file.description") {{ file.description }}

          dt Created at 
          dd {{ file.createdAt }}

    a(href="{{file.path}}", class="button button-primary u-full-width") Open file
