extends layout

block content
  div(class="container")
    div(class="row")
      div(class="twelve columns", id="logo-container")
        a(href="#" id="logo") 
          i(class="iconicstroke-award-stroke")

      div(class="twelve columns description")
        h4 A lightweight application to guarantee files authenticity


    div(class="row")
      div(class="twelve columns", ng-controller="checkerController")
        form(name="checker")
          div(class="row form-control", ng-class="{active: focused}", focus-input)
            label(for="file-key") Document key
            input(type="text", id="file-key", class="u-full-width", ng-model="file.key", ng-focus="focused=true", ng-blur="focused=false", required)

          div(class="row")
            button(type="submit", class="button-primary u-full-width", ng-click="checkDocument()", ng-disabled="checker.$invalid") 
              i(class="iconicstroke-spin-alt spin", ng-show="loading")
              span Check
