doctype html
html(ng-app="docAuthenticity")
  head
    meta(charset="UTF-8")
    meta(name="description", content="A lightweight application to guarantee files authenticity.")
    meta(name="author", content="Diego Couto")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")

    title= title

    link(href="https://fonts.googleapis.com/css?family=Lato:400,300,700", rel="stylesheet", type="text/css")
    link(href="http://weloveiconfonts.com/api/?family=iconicstroke", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js")
    script(src="js/core.js")
  body(ng-controller="checkerController")
    div(class="alert", ng-show="notifications.show()") {{ notifications.show() }}
      i(class="iconicstroke-x close-alert", ng-click="notifications.clear()")

    div(class="container")
      div(class="row")
        div(class="twelve columns", id="logo-container")
          a(href="#" id="logo") 
            i(class="iconicstroke-award-stroke")

        div(class="twelve columns description")
          h4 A lightweight application to guarantee files authenticity

      div(ng-view class="slideup")
